.movies__pagination-button {
  border: none;
  border-radius: 6px;
  background: #2F2F2F;
  color: #FFFFFF;
  width: 320px;
  height: 36px;
  margin: 50px auto 80px;
  padding: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

@media (max-width: 440px) {
  .movies__pagination-button {
    width: 240px;
  }
}