.profile {
  margin: 0 auto;
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
  max-width: 470px;
  width: 100%;
}

.profile__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

.profile__list {
  list-style: none;
  margin: 123px 30px 220px;
  padding: 0;
  max-width: 410px;
}

.profile__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #424242;
  margin: 0;
  padding: 16px 0 0 0;
  width: 100%;
}

.profile__item_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.profile__item:last-child {
  border-bottom: none;
}

.profile__item_input {
  text-align: end;
  background: none;
  /* outline: none; */
  color: #ffffff;
  border: none;
  flex: 1 1 auto;
}

.profile__input-error {
  display: block;
  text-align: end;
  min-height: 11px;
  margin: 6px 0 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  color: #EE3465;
}

.profile__item_text {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__button {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  background: none;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  margin: 0 0 16px 0;
  transition: opacity ease .3s;
}

.profile__button:hover {
  opacity: .6;
}

.profile__button:disabled {
  cursor: default;
  opacity: .2;
}

.profile__link {
  color: #EE3465;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (max-width: 768px ) {
  .profile {
    padding: 236px 0 0 0;
  }

  .profile__list {
    list-style: none;
    margin: 96px 30px 210px;
  }
}

@media (max-width: 320px ) {
  .profile {
    padding: 70px 0 0 0;
  }

  .profile__list {
    list-style: none;
    margin: 80px 30px 379px;
  }
}
