.auth {
  margin: 0 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-height: 586px;
  height: 100%;
}

.auth__link {
  max-width: 38px;
}

.auth__logo {
  width: 38px;
  height: 38px;
}

.auth__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0;
  padding: 0;
}

.auth__form {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 396px;
  flex: 1;
}

.auth__inputs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.auth__button {
  padding: 0;
  background-color: #4285F4;
  color: #FFFFFF;
  min-height: 45px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  transition: opacity .3s;
}

.auth__button:hover {
  opacity: .8;
}

.auth__button:disabled {
  background-color: #A0A0A0;
  cursor: default;
}
.auth__button:disabled:hover {
  opacity: 1;
}

.auth__sign {
  margin: 15px 0 0 0;
  padding: 0;
}

.sign__text {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
}

.sign__link {
  margin: 0 0 0 6px;
  padding: 0;
  color: #4285F4;
  transition: opacity .3s;
}

.sign__link:hover {
  opacity: .6;
}

@media (max-width: 320px) {
  .auth {
    max-height: 694px;
  }

  .auth__link {
    margin: 0 auto;
  }

  .auth__title {
    margin: 50px auto 80px;
  }

  .sign__text {
    font-size: 12px;
    line-height: 15px;
  }
}